services:
    -
        class: Aagjalpankaj\Logstan\Rules\LogMessageRule
        tags:
            - phpstan.rules.rule
    -
        class: Aagjalpankaj\Logstan\Rules\LogContextRule
        tags:
            - phpstan.rules.rule

parameters:
    customRulesetUsed: true
    reportUnmatchedIgnoredErrors: false
