services:
    -
        class: Aagjalpankaj\Logstan\Rules\LogInsightsRule
        tags:
            - phpstan.rules.rule

parameters:
    customRulesetUsed: true
    reportUnmatchedIgnoredErrors: false
